VITE_API_BASE_URL="https://ramitos.cadcc.cl"
VITE_API_SCHEMA_BASE_URL="https://ramitos.cadcc.cl/api"
VITE_AUTH_API_ORIGIN="https://ramitos.cadcc.cl"
VITE_API_MOCKING_ENABLED=false
VITE_API_PROXY_SECURE=true
